<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Failed to log in</title>
  </head>
  <body>
    <%- include('navBar', links); %>
    <div class="content-container">
      <div class="content">
        <h1 class="title">Failed to log in</h1>
        <p class="description">
          The username and password combination you entered was incorrect.
        </p>
      </div>
    </div>
  </body>
</html>
