<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Excommunicado club</title>
  </head>
  <body>
    <%- include('navBar', links); %>
    <div class="content-container">
      <div class="content">
        <%- include('title'); %> <% if (locals.user && locals.messages) { %>
        <h1>Excommunicado messages:</h1>
        <ul>
          <% for (const message of messages) { %> <% if (user.membership ===
          'member' || user.membership === 'admin') { %>
          <li><%= `${message.user} says: ${message.text}` %></li>
          <% } else { %>
          <li><%= message.text %></li>
          <% } %> <% } %>
        </ul>
        <% } %>
      </div>
    </div>
  </body>
</html>
