<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Join the Excommunicado</title>
  </head>
  <body>
    <%- include('navBar', links); %>
    <div class="content-container">
      <div class="content">
        <%- include('title'); %>
        <h1 class="content-title">Join the Excommunicado!</h1>
        <p>Enter the secret password and you shall enter.</p>
        <form action="/join-member" method="POST">
          <label for="secretPassword">Secret password: </label
          ><input type="password" name="secretPassword" id="secretPassword" />
          <label for="isAdmin">Is Admin: </label
          ><input type="checkbox" name="isAdmin" id="isAdmin" />
          <input type="submit" />
        </form>
      </div>
    </div>
  </body>
  <%- include('footer'); %>
</html>
