<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>New message</title>
  </head>
  <body>
    <%- include('navBar', links); %>
    <div class="content-container">
      <div class="content">
        <%- include('title'); %>
        <h1 class="content-title">Create a new message</h1>
        <form action="/message/new" method="POST">
          <label for="message">Message: </label
          ><textarea name="message" cols="60" rows="15" id="message"></textarea>
          <input type="submit" />
        </form>
      </div>
    </div>
  </body>
  <%- include('footer'); %>
</html>
