:root {
  --half-transparent: rgba(255, 255, 255, 0.6);
  --input-text-color: rgb(86, 19, 148);
}

html {
  background: url("./city-night.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

.nav-link {
  font-size: 1.5rem;
  border: solid 2px rgb(207, 27, 117);
  background-color: var(--half-transparent);
  border-radius: 5px;
  padding: 5px;
}

a {
  text-decoration: none;
}

.nav-link,
.nav-link:visited {
  color: rgb(207, 27, 117);
}

.nav-link,
.title,
.content-title,
.message,
input,
textarea,
label,
content,
.description {
  background-color: var(--half-transparent);
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 5px;
  display: grid;
  grid-template-columns: max-content 1fr;
}

input[type="submit"] {
  width: min-content;
}

.content-container {
  display: flex;
  justify-content: center;
}

.content {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  border: solid 3px rgb(128, 16, 128);
  color: rgb(128, 16, 128);
  border-radius: 5px;
  padding: 10px;
}

.deleteMessage {
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: purple;
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  height: min-content;
  width: min-content;
  justify-self: flex-end;
  align-self: center;
}

.message {
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 10px;
  width: calc(100% - 20px);
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-auto-rows: min-content;
  gap: 10px;
}

.message p {
  margin: 0;
}

.msg-user {
  grid-row: 1 / 2;
  font-weight: 600;
}

.msg-time {
  grid-row: 2 / 3;
}

.msg-text {
  grid-row: 3 / 4;
  font-size: 1.2rem;
}

.messageList {
  list-style-type: none;
  padding: 0;
}

input[type="submit"] {
  grid-column: 2 / 3;
  justify-self: flex-end;
  border: solid 2px var(--input-text-color);
  border-radius: 5px;
  font-size: 1.2rem;
  box-shadow: 2px 2px 2px 2px var(--input-text-color);
}

input[type="checkbox"] {
  justify-self: flex-start;
  margin: 0 0 0 5px;
  width: 1.2rem;
  height: 1.2rem;
  align-self: center;
}

input[type="text"],
input[type="password"] {
  width: 200px;
  border-radius: 5px;
  font-size: 1.1rem;
}

textarea,
input,
label {
  color: var(--input-text-color);
}

label {
  justify-self: flex-end;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.1rem;
  height: min-content;
}

.content-title {
  padding: 10px;
  border-radius: 10px;
  font-weight: 500;
  background-color: rgba(19, 50, 151, 0.7);
  color: rgb(134, 197, 189);
}

footer {
  width: max-content;
  margin-left: auto;
  font-size: 0.8rem;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: pink;
}

footer a {
  color: rgb(255, 117, 213);
}

.description {
  border-radius: 5px;
  padding: 5px;
  color: rgb(19, 50, 151);
  background-color: rgba(134, 197, 189, 0.85);
}
